body {
    background-color: black;
}

.container {
    background-color: whitesmoke;
    width: 300px;
    height: 500px;
    float: center;
    margin-top: 100px;

  }
  
#title {
    padding-top: 150px;
    text-align: center;
    color: #595959;
    font-size: 80px;
}
#author {
    padding-bottom: 10px;
    text-align: center;
    color: #585858;
    font-size: 18px;
}
.btn btn-primary btn-lg {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

  .btn btn-primary btn-lg:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }